body {
    background-color: #AAA;
    width: 100%;
    margin: 0;
    padding: 0;
}

figure {
    margin: 2% 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #9C1C34;
    width: 100%;
    height: auto;
}

figure .logo {
    width: 40%;
}

figure .tanga {
    width: 15%;
}

.hero {
    width: 100%;
    height: auto;
    background: rgba(219,127,161,1);
background: -moz-linear-gradient(left, rgba(219,127,161,1) 0%, rgba(248,226,226,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(219,127,161,1)), color-stop(100%, rgba(248,226,226,1)));
background: -webkit-linear-gradient(left, rgba(219,127,161,1) 0%, rgba(248,226,226,1) 100%);
background: -o-linear-gradient(left, rgba(219,127,161,1) 0%, rgba(248,226,226,1) 100%);
background: -ms-linear-gradient(left, rgba(219,127,161,1) 0%, rgba(248,226,226,1) 100%);
background: linear-gradient(to right, rgba(219,127,161,1) 0%, rgba(248,226,226,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db7fa1', endColorstr='#f8e2e2', GradientType=1 );
}

.figureEspecial {
    margin: 2% 0;
}

figure .leyenda {
    width: 40%;
}

figure .rosas {
    width: 40%;
}

.body {
    background-color: #FBD9E8;
    width: 100%;
    height: auto;
}

.productos {
    display: flex;
}

.body .container h1 {
    font-family: anton, Arial, Helvetica, sans-serif;
}

.body .container .productos article {
    font-family: Arial, Helvetica, sans-serif;
}

.contenedorTexto {
    width: 65%;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 6px;
    height: auto;
    position: relative;
    top: -20px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedorTexto p {
    margin: 5px 20%;
}

.contenedorTexto a {
    display: block;
    text-decoration: none;
    padding: 3% 20px;
    background-color: black;
    margin: 2% auto;
    color: white;
}

.quienesSomos {
    font-family: 'Open Sans', sans-serif;
}

.name {
    font-weight: bold;
    text-align: center;
    margin: 5px;
    font-size: 15px;
}

.body figure img {
    width: 90%;
    margin: 0 auto;
}

.contact {
    background-color: black;
    width: 100%;
    height: auto;
}

.pie {
    display: flex;
    align-items: center;
}

.izquierda {
    width: 100%;
}

form h3 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 3% 0;
}

form h4 {
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 3% 0;
}

form button {
    display: block;
    width: 40%;
    margin: 3% 0;
}

.derecha a img {
    width: 20%;
    margin: 3%;
}

.derecha {
    width: 100%;
    display: inline-block;
    text-align: end;
}

footer {
    background-color: #333;
    width: 100%;
    height: auto;
}

footer .container p {
    font-family: Cabin, Arial, Helvetica, sans-serif;
    color: #AAA;
    font-weight: bold;
}

footer a {
    color: white;
    text-decoration: none;
}

footer .container {
    text-align: end;
}

.container {
    background-color: inherit;
    width: 70%;
    margin: 0 auto;
    border: 1px solid transparent;
}

@media screen and (max-width: 1024px) {
    
}

@media screen and (max-width: 768px) {
    .productos {
        flex-wrap: wrap;
    }

    .body .container h1 {
        margin-bottom: 10px;
    }

    .productos figure img {
        width: 100%;
    }

    .contenedorTexto {
        top: -50px;
    }

    .contenedorTexto p {
        margin: 2% 0;
    }

    .contenedorTexto .name {
        margin: 2% 40%;
    }

    .contenedorTexto a {
        margin: 2% 10%;
        width: 20%;
        text-align: center;
    }

    .whatsapp {
        display: none;
    }

    .derecha a img {
        width: 25%;
        margin: 3%;
    }
}

@media screen and (max-width: 480px) {
    .tanga {
        display: none;
    }

    header .container figure {
        display: flex;
        justify-content: center;
    }

    header .container figure img {
        width: 80%;
    }

    .figureEspecial {
        justify-content: center;
    }

    .figureEspecial img {
        width: 80%;
    }

    .rosas {
        display: none;
    }

    .pie {
        flex-wrap: wrap;
        justify-content: center;
    }

    .izquierda {
        text-align: center;
        border-bottom: 1px solid white;
    }

    .izquierda form button {
        margin: 3% auto;
    }

    .derecha {
        text-align: center;
    }

    footer .container {
        text-align: center;
    }

    .container {
        width: 90%;
    }
}

@media screen and (max-width: 320px) {
    
}